<div class="five" nofood-page>
		 	<h3>不喜欢吃的食物</h3>
		 	<div>
		 		<ul>
		 			<li><input type="checkbox" id="aa" value="羊肉"><span></span></span><label for="aa">羊肉</label></li>
		 			<li><input type="checkbox" id="bb" checked value="海鲜"><span></span></span><label for="bb">海鲜</label></li>
		 			<li><input type="checkbox" id="cc" value="芹菜"><span></span></span><label for="cc">芹菜</label></li>
		 			<li><input type="checkbox" id="dd" value="胡萝卜"><span></span></span><label for="dd">胡萝卜</label></li>
		 			<li><input type="checkbox" id="ee" value="芹菜"><span></span></span><label for="ee">芹菜</label></li>
		 		</ul>
		 		<ul>
		 			<li><input type="checkbox" id="ff" value="羊肉"><span></span></span><label for="ff">羊肉</label></li>
		 			<li><input type="checkbox" id="gg" value="海鲜"><span></span></span><label for="gg">海鲜</label></li>
		 			<li><input type="checkbox" id="vv" value="芹菜"><span></span></span><label for="vv">芹菜</label></li>
		 			<li><input type="checkbox" id="qq" value="胡萝卜"><span></span></span><label for="qq">胡萝卜</label></li>
		 			<li><input type="checkbox" id="mm" value="芹菜"><span></span></span><label for="mm">芹菜</label></li>
		 		</ul>
		 	</div>
		 	<div class="black" ng-if="dog">
		 		
		 	</div>
		 	<div class='tank' ng-if="dog">
		 		<img src="img/tan.jpg">
		 		<span class="close" ng-click="dd()">X</span>
		 		<p><a ui-sref="ti">开始测试</a></p>
		 	</div>
		 	<p class="fiveji" ng-click="dog=!dog">继续</p>
		 	
		 </div>
		 <div ui-view class="ti">
		 	
		 </div>